body{
    background: url(https://media.istockphoto.com/id/1200224188/photo/white-clouds-and-sun-in-blue-sky.jpg?s=612x612&w=0&k=20&c=_fqLmtlTODIhKV_5nNJm8lcMiVEZUmxTfHZERvP1HkE=);
    background-repeat: no-repeat;
    background-size: cover;
}